*.zip filter=lfs diff=lfs merge=lfs -text
C:/Users/ROG/Desktop/BarterFriend(Frontend)-ultimate filter=lfs diff=lfs merge=lfs -text
version filter=lfs diff=lfs merge=lfs -text
.zip filter=lfs diff=lfs merge=lfs -text
